  
  input {
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 8pt;
    color: black;
  }
  
  table {
      margin-top: 80px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    

  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
   
  tr:first-child {
    background-color: #2e4e7e;
    color: #ddd;
  
  }
  
  #tablaUsuarios tbody tr {
    border-bottom: 1px solid #ccc; /* Ajusta el estilo y color de la línea separadora según tus preferencias */
  } 

  


#button-container {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 59px;
    right: 143px;
    align-items: center;
    background-color: #2e4e7e;
    border: none;
  }


  #empresa {
    position: absolute;
    top: 59px;
    right: 1125px;
    height: 30px;
    width: 100px;

  }  

  #empresa:hover {
    cursor: pointer;
  }

  #button-buscar {
    display: flex;
    position: absolute;
    right: 500px;
    top: 59px;
    background-color: #2e4e7e;
    border: none;

  }

  #filtroInput {
    width: 500px; /* Ajusta el valor según el tamaño deseado */
    height: 40px; /* Ajusta el valor según el tamaño deseado */
    font-size: 16px; /* Ajusta el valor según el tamaño de fuente deseado */
    margin: 50px auto 0 ; /* Agrega un margen superior de 50px */
    margin-left: 150px;
    display: block;
    border: 1.5px solid;
    
  }