  
  input {
    margin-bottom: 30px;
    padding: 8px;
    border-radius: 8pt;
    color: black;
  }
  
  td {
    background-color: rgb(216, 221, 253);
    font-weight: 500;
  }


  
  table {
      margin-top: 0px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    

  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
   
  tr:first-child {
    background-color: #2e4e7e;
    color: #ddd;
  
  }
  
  #tablaUsuarios tbody tr {
    border-bottom: 1px solid #000000; /* Ajusta el estilo y color de la línea separadora según tus preferencias */
  } 

#button-container {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 59px;
    right: 135px;
    align-items: center;
    background-color: #2e4e7e;
    border: none;
  }


  #empresaInput {
    position: absolute;
    top: 9%;
    left: 10%;
    height: 30px;
    width: 100px;

  }  

  #empresaInput:hover {
    cursor: pointer;
  }

  #button-buscar {
    display: flex;
    position: absolute;
    right: 400px;
    top: 59px;
    background-color: #2e4e7e;
    border: none;

  }

  .input-container {
    position: relative;
    width: 600px;
    margin: 50px auto 0;
    margin-left: 150px;
  }
  
  #filtroInput {
    width: 100%;
    height: 40px;
    font-size: 16px;
    display: block;
    border: 1.5px solid;
    padding-right: 30px;
    text-indent: 24px;
  }
  
  .search-icon {
    position: absolute;
    top: 51%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
  }
  
  .search-icon i {
    font-size: 16px;
  }
  