#formulario {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem; 
    
}
  
  #formulario .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  #formulario .form__group label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #000000;
  }
  
  #formulario .form__group input,
  #formulario .form__group select {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  #formulario .form__group input::placeholder,
  #formulario .form__group select::placeholder {
    color: transparent;
  }
  
  #formulario .form__group input:focus,
  #formulario .form__group select:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #090979, #017b94);
    border-image-slice: 1;
  }
  
 #btn{
    margin-top: 20px;
    background-color: #017b94;
    border-radius: 15px;
 }